input {
    width: 400px;
    height: 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border: 1px;
}
.maindiv {
    background-color: #253C6A;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.secdiv {
    height: 70vh;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: #3B3B3B;
    border: 5px solid black;
    border-radius: 20px;
}
.login {
    margin-bottom: 20px;
}
.txt {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
    text-align: center;
}
.txt::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 35px;
    background: #4BC5B3;
    margin-right: 10px;
}

.txt::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 35px;
    background: #4BC5B3;
    margin-left: 10px;
}