.display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.products {
    width: 160px;
    margin-left: 50px;
    margin-top: 30px;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    height: 370px;
    padding-top: 0px;
    background-color: white;
}

.img {
    width: 160px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: -20px;
}
.price {
    color: #104713;
}
.paragraph {
    height: 179px;
    width: 100%;
}
.paragraph:hover {
    background-color: #AFF5F8;
    color: black;
    border-radius: 27px;
}